<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- Experimental launch script for APM based Drone -->

	<!-- UDP actual drone  -->
	<!-- <arg name="fcu_url" default="serial:///dev/ttyACM0:57600"/>   -->

	<!-- UDP SITL -->
	<arg name="fcu_url" default="udp://127.0.0.1:14550@14555" />  
	
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="respawn_mavros" default="true"/>
	<arg name="mavros_ns" default="/"/>

	<!-- configs used -->
	<!-- <arg name="config_yaml" default="$(find mavros)/launch/apm_config.yaml" /> -->
	<arg name="config_yaml" default="$(find iq_sim)/launch/apm_config_iris.yaml" />



	  <!-- ─────────── MAVROS ENU + TF settings ─────────── -->
  	<!-- force MAVROS to publish both imu→tf and odom→tf -->
  	<!-- <param name="/mavros/enable_imu_tf"   type="bool" value="true"/> -->
  	<!-- <param name="/mavros/publish_odom_tf" type="bool" value="true"/> -->
  	<!-- turn on the NED→ENU converter (name varies by version) -->
  	<!-- <param name="/mavros/use_enu_conversion" type="bool" value="true"/> -->
  	<!-- some versions call it enable_enu or use_enu: you can add those too -->
  	<!-- <param name="/mavros/enable_enu"      type="bool" value="true"/> -->
  	<!-- <param name="/mavros/use_enu"         type="bool" value="true"/> -->
	<!-- <param name="use_sim_time" value="true"/> -->


	<include file="$(find iq_sim)/launch/mavros_node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
		<arg name="config_yaml" value="$(arg config_yaml)" />
		<arg name="mavros_ns" value="$(arg mavros_ns)"/>
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
	</include>
</launch>
